body {
  margin: 0;
  background-color: #050505;
  color: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}

.font-syncopate {
  font-family: 'Syncopate', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

canvas {
  touch-action: none;
}
